.info-container {
  width: 200px;
  min-height: 600px;
  margin-left: 327px;
  margin-top: -60px;
  background-color: crimson;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9rem;
}

aside h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.definition-term {
  font-weight: bold;
}

.definition-description {
  margin-bottom: 10px;
}

.hr-faded {
  border: none; /* remove a borda padrão */
  height: 1px; /* altura da linha */
  background: linear-gradient(
    to right,
    transparent,
    /* ponta esquerda */ #a7b3ca,
    /* cor central */ transparent /* ponta direita */
  );
  margin: 20px 0;
}
