.anime-banner {
  /* margin-top: 70px; */
  width: 100%;
}

.descption-container {
  display: flex;
  flex-direction: row;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.anime-cover {
  position: relative;
  top: -100px;
  width: 220px;
  height: auto;
  border-radius: 6px;
}

.btn-add {
  position: relative;
  top: -80px;
  width: 200px;
  height: 40px;
  background-color: darkturquoise;
  border-radius: 5px;
}

.anime-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 10px;
}

.anime-description {
  margin-left: 30px;
}

.general-content {
  display: flex;
  flex-direction: row;
}

.content-container {
  display: flex;
  flex-direction: column;

  margin-top: -60px;

  gap: 15px;
}

.season-container {
  display: flex;
  flex-direction: column;

  margin-left: 40px;

  gap: 5px;
}

.season-title {
  font-size: 1rem;
  font-weight: bold;
}

.seasons-boxes {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.season-box {
  width: 300px;
  height: 180px;
  background-color: crimson;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.season-image {
  width: 120px;
  height: 180px;

  background-color: goldenrod;
}

.season-title {
  font-size: 1rem;
}
